<div class="row">
  <div class="col-md-8">
    <h1>Edit Shit</h1>
    <%= render 'form' %>
  </div>
  <div class="col-md-4">
    <div class="ad-div">
      <%= render 'layouts/adsense' %>
    </div>
    <%= render 'layouts/adsense' %>
  </div>
</div>
